@import '/src/shared/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  width: 100%;

  height: 264px;

  @media (min-width: 300px) and (max-width: 950px) {
    padding: 16px;
  }

  background: #FFFFFF;

  h3 {
    font-size: 19.2px;
    color: $cool-gray-100;
  }
}