<div class="loader-container" *ngIf="loaders.length > 0">
  <div class="loader">
  </div>
  <div [hidden]="loadingMessage != null" class="message">
    <h1>{{loadingMessage}}</h1>
  </div>
</div>

<div class="layout layout-streaming" *ngIf="stateSocket$ | async">
  <div class="current-scene-preview">
    <img [src]="currentSceneImage" alt="preview" [hidden]="!canShowPreview() || !hasConnectionToRemoteServer()">
    <h3 [hidden]="canShowPreview() && hasConnectionToRemoteServer()">OBS IS CLOSED</h3>
  </div>
  <div class="form">
    <div class="button-col">
      <button mat-flat-button [ngClass]="{
        'turn-on': !hasConnectionToRemoteServer(),
        'turn-off': hasConnectionToRemoteServer()
      }" (click)="turnOnOrOffRemoteServer()">Turn
        {{hasConnectionToRemoteServer()?
        "Off" : "On"}} Remote Server</button>
      <!-- <button mat-flat-button color="primary" [disabled]="!obsIsClosedOrAborted() || !hasConnectionToRemoteServer()"
        (click)="openObs()">Open Obs</button>
      <button mat-flat-button color="primary" [disabled]="obsIsClosedOrAborted() || !hasConnectionToRemoteServer()"
        (click)="closeObs()">Close
        Obs</button> -->
          <button mat-flat-button color="primary" [disabled]="!csgoIsClosedOrAborted() || !hasConnectionToRemoteServer()"
        (click)="startCsGo()">Start Cs
        Go</button>
      <button mat-flat-button color="primary" [disabled]="csgoIsClosedOrAborted() || !hasConnectionToRemoteServer()"
        (click)="closeCsGo()">Close Cs
        Go</button>
    </div>

    <div class="button-col">
      <button mat-flat-button color="primary" [disabled]="obsIsClosedOrAborted() || !hasConnectionToRemoteServer()"
        (click)="openPreviewModal()">Open
        Preview</button>
      <button mat-flat-button color="primary" [disabled]="obsIsClosedOrStreaming() || !hasConnectionToRemoteServer()"
        (click)="startStream()">Start
        Stream</button>
      <button mat-flat-button color="primary"
        [disabled]="obsIsClosedOrAborted() || obsIsNotClosedOrNotStreaming() || !hasConnectionToRemoteServer()"
        (click)="stopStream()">Stop
        Stream</button>
    </div>

    <!-- <div class="button-col">
      <button mat-flat-button color="primary" [disabled]="!csgoIsClosedOrAborted() || !hasConnectionToRemoteServer()"
        (click)="startCsGo()">Start Cs
        Go</button>
      <button mat-flat-button color="primary" [disabled]="csgoIsClosedOrAborted() || !hasConnectionToRemoteServer()"
        (click)="closeCsGo()">Close Cs
        Go</button>
    </div> -->
  </div>

  <div #streamingAnimation class="animate-flicker"></div>
</div>