<div class="fixed-top" >
  <h3 class="align-items-center" *ngIf="ping != null else noPing">
    <mat-icon>network_wifi</mat-icon>{{ping}}
  </h3>
      <ng-template #noPing>
      <h5><mat-icon>perm_scan_wifi</mat-icon>No Conection</h5>
    </ng-template>
</div>

<div class="loader-container" *ngIf="loaders.length > 0">
  <div class="loader"></div>
</div>

<div class="container d-flex flex-column full-height justify-content-center" *ngIf="machineState == 1">

  <div class="row gx-1 mb-5">
    
    <div class="col-12 d-flex justify-content-center"  style="max-height: 506px;">
      <img class="img-fluid rounded mx-auto d-block" *ngIf="currentSceneImage else withoutImage" style="height: 100%;" [src]="currentSceneImage" alt="preview">

      <ng-template #withoutImage>
        <div class="alert alert-danger" role="alert">
          Cant get preview from OBS, please restart remote server and try again.
        </div>
      </ng-template>
    </div>
  
  </div>

  <div class="row gx-3">

    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end mb-3 ">
      <button class="btn-kastr-lg btn-kastr" (click)="openPreviewModal()">Change Scene</button>
    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start mb-3 ">

      <button class="btn-kastr btn-kastr-lg btn-kastr-gray" 
        *ngIf="csgoIsClosedOrAborted() else stopCsgoElse" 
        (click)="startCsGo()">
        Start CSGO
      </button>

      <ng-template #stopCsgoElse>

        <button class="btn-kastr btn-kastr-lg btn-kastr-red" (click)="closeCsGo()">Stop CSGO</button>

      </ng-template>  
      
    </div>

  </div>

  <div class="row gx-3">

    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end mb-3">
      <button class="btn-kastr-lg btn-kastr btn-kastr-red" (click)="turnOfRemoteServer()">Turn Off Server</button>
    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start mb-3">
      <button class="btn-kastr btn-kastr-lg btn-kastr-gray" (click)="startStream()" *ngIf="!obsIsClosedOrStreaming() else stopStreamElse">Start Stream</button>

      <ng-template #stopStreamElse>
        <button class="btn-kastr btn-kastr-lg btn-kastr-red" (click)="stopStream()">Stop Stream</button>
      </ng-template>
    </div>

  </div>

</div>